body{
  background: url(./public/back.webp);
  background: url(./public/back2.webp);
  /* background: black; */
  background-size: cover;
  background-attachment: fixed;
  color: aliceblue;
  /* filter: grayscale(.5); */
}

/* body button {
  border: 2px solid red;
} */


h4 {
  color: rgb(255, 255, 255);
  color: #ffffff;
  color: #ffffff;
  color: #000000;
  color: red;
  text-shadow: 0px 0px 5px black;
  /* text-shadow: 0px 0px 10px aliceblue; */
  margin-top: 30px;
  margin-bottom: 0px;
  /* font-family:'Courier New', Courier, monospace; */
  /* background-color: black; */
}

p{
  margin-top: 10px;
  margin-left: 20px;
}

button {
  color: white;
  background-color: blue;
  padding:5px 15px;
  border-radius: 5px;
  transition: 1.5s;
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px aliceblue); 
}

button:hover, button:active {
  background-color: red;
  filter: drop-shadow(0px 0px 8px aliceblue); 
  /* transform: scale(1.03); */
}
  

a {
  color: white;
  text-decoration: none;
}

.button_fixed {
  position: fixed;
  /* margin-left: calc(100% - 100px); */
}

.color {
  color: transparent;
}


#cat {
  filter: drop-shadow(0px 5px 5px aliceblue);
  
}


#infoAboutItems {
  background-color: rgb(226, 222, 222, .2);
  color: red;
  padding: 20px;
  margin: 50px;
  width: 300px;
}

#infoAboutItems2 {
  background-color: rgb(226, 222, 222);
  padding: 20px;
  margin: 50px;
  width: 300px;
  color: black;
}


#container button {
  margin-top: 5px;
}

  button {
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding:5px 15px;
    transition: .5s;
  }

  button:hover {
    background-color: red;
  }


  a {
    color: white;
    text-decoration: none;
  }

  .theory {
    background-color: rgb(26, 171, 50);
  }