body{
  background: url(./public/back.webp);
  background: url(./public/back2.webp);
  background-size: cover;
  background-attachment: fixed;
  /* font-size: 2em; */
  /* background: linear-gradient(red,blue); */
  color: aliceblue;
  /* background: white; */
  filter:;
}

/* body button {
  border: 2px solid red;
} */


h4 {
  color: rgb(255, 255, 255);
  color: #ffffff;
  color: #ffffff;
  color: #000000;
  color: red;
  text-shadow: 0px 0px 5px black;
  /* text-shadow: 0px 0px 10px aliceblue; */
  margin-top: 50px;
  margin-bottom: 25px;
  /* font-family:'Courier New', Courier, monospace; */
  /* background-color: black; */
}

p{
  margin-top: 10px;
  margin-left: 20px;
}

.color {
  color: transparent;
}


#cat {
  filter: drop-shadow(0px 5px 5px aliceblue);
  
}


#infoAboutItems {
  background-color: rgb(226, 222, 222, .2);
  color: red;
  padding: 20px;
  margin: 50px;
  width: 300px;
}

#infoAboutItems2 {
  background-color: rgb(226, 222, 222);
  padding: 20px;
  margin: 50px;
  width: 300px;
  color: black;
}





.button_fixed {
  position: fixed;
}


#container button, .button_fixed {
  margin-top: 5px;
  background-color: blue;
  border-radius: 5px;
  padding:5px 15px;
  transition: .5s;
  filter: drop-shadow(0px 0px 3px aliceblue); 

}


#container button:hover, #container button:active, .button_fixed:hover, .button_fixed:active  {
  background-color: red !important;
  filter: drop-shadow(0px 0px 8px aliceblue); 
  }


  a {
    color: white;
    text-decoration: none;
  }

  .theory {
    background: rgb(26, 171, 50) !important;
  }



/* inputs */
  #check_symbols {
    background-color: lightgray;
    color: red;
    margin-top: 25px;
  }

  #check_symbols:hover {
    border:  2px solid wheat;
  }



/* модальное окно */
#overlay { /* подложка*/
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(0, 0, 0, .5);
  display: none;
}
#text_of_window {
  color: black;
  background-color: lightgray;
  width: 300px;
  position: absolute;
  top: calc(50vh - 50px);
  left: calc(50% - 150px);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* светофор */
.traffic_light {
  background: black;
  display: flex;
  width: 280px;
  height: 100px;
  gap: 10px;
  /* margin-top: 120px; */
  /* margin-left: -80px; */
  rotate: 90deg;
  border-radius: 20px;
  box-shadow: 0px 0px 5px white;
}

.traffic_light div {
  background: gray;
  margin-top: 10px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.traffic_light div:first-child {
  margin-left: 10px;
}

#next_light {
  margin-top: 10px;
  width: 130px;
  background: aquamarine;
  height: 45px;
}
#next_light:hover {
  background: rgb(8, 221, 221);
}

#traffic_light_container{
  margin-top: 130px; 
  margin-bottom: 130px; 
  display: flex;
}

#container_string {
  background: gray;
  width: 60%;
}

#container_string div {
padding: 10px;
}

#btn_1, #btn_2 {
  width: 120px;
}

#title_btn1 {
  background: purple;
  width: 100px;
  text-align: center;
  padding: 10px;
  /* margin-top: 20px;  */
  display: none;
  margin-top: -85px; 
}

#title_btn1_inner{
  position: absolute;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  margin-left: 40px;
  background: purple;
  margin-top: 0px;
  /* background: red; */
  /* margin-top: -38px; */
}



#block_with_colors {
  height: auto;
  width: 500px;
  background: gray;
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
}

#add_colors {
  margin-top: 25px;
}

.block_with_color {
  border: 1px solid white;
  height: 25px;
  width: 25px;
  margin: 5px;
}

#container_with_comments {
  background-color: gray;
  height: auto;
  min-height: 50px;
}







