body{
  background-color: pink;
}



h4 {
  color: blue;
  margin-top: 30px;
  margin-bottom: 0px;
}

p{
  margin-top: 10px;
  margin-left: 20px;
}

button {
  color: white;
  background-color: blue;
  padding:5px 15px;
  border-radius: 5px;
  transition: .5s;
}

button:hover {
  background-color: red;
}
  

a {
  color: white;
  text-decoration: none;
}

.button_fixed {
  position: fixed;
  /* margin-left: calc(100% - 100px); */
}

.color {
  color: transparent;
}
